<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" validated="True" />
    <add key="vso-adamedx" value="https://adamedx.pkgs.visualstudio.com/_packaging/SecretPackages/nuget/v3/index.json" validated="True" />
  </packageSources>
</configuration>
